:root {
    --tecto-align: center;
    --heading-font: 'Montserrat';
    --text-font: Montserrat;
    --primary-color: #264969;
    --secondary-color: #52668E ;
    --accent1-color: #5E9771;
    --accent2-color: #FBFAF8 ;
}
* {
    font-family: var(--text-font);
}
header {
    background-color: white;
    align-items: center;
}

nav a {
    font-family: var(--text-font);
    color: var(--primary-color);
    font-size: 1.5rem;

}
nav img {
    display: block;
}
.sociallinks a {
    text-decoration: none;
}

p {
    font-family: var(--font-family);
}

h2 {
    font-family: var(--font-family);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    font-family: var(--font-family);
    font-size: 7rem;
    color: var(--accent2-color);
    position: absolute;
    top: 250px;
    left: 650px;
}
.hero article {
    border: 1px solid black;
    position: absolute;
    top: 250px;
    left: 120px;
}

.hero article img {
    width: 25%;
    float: right;
    padding: 10px solid black;

}
 .hero article p {
    text-align: center;
    width: 80rem;
    height: 300px;
    background-color: var(--secondary-color);
    color: black;
     }